.borgar-menu {
	width: 58px;
	gap: 8px;
	transition: 1s;
}

.borgar-menu.active {
	transform: rotate(90deg);
}

.borgar-menu:hover {
	cursor: pointer;
}

.borgar-menu > div {
	width: 100%;
	padding: 4.5px;
	background-color: $color-4;
}

.not-logged-in {
	margin-top: 150px;
}

.side-bar {
	position: fixed;
	right: -100%;
	top: 0;
	padding: 100px 50px 25px 50px;
	width: 500px;
	transition: 1s;
	background-color: $color-5;
}

.side-bar.active {
	right: 0;
}

.side-bar-close {
	position: absolute;
	left: 15px;
	top: 15px;
	color: $color-3;
	font-size: 40px;
}

.side-bar-close:hover {
	cursor: pointer;
}

.side-bar-name {
	position: absolute;
	top: 15px;
	right: 15px;
	color: $color-3;
	font-size: 40px;
}

.side-bar > button {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	color: $color-3;
	font-size: 30px;
	width: 100%;
	padding: 10px;
	transition: 0.5s;
}

.side-bar > button:hover {
	background-color: $color-1;
}

.logout-button {
	position: relative;
	background-color: $color-1 !important;
	border: 1px solid $color-6 !important;
}

.logout-img {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}
