@import "../vars";
@import "../sideBar";
@import "../alert";

.search-bar {
	width: 500px;
}

header {
	position: sticky;
	top: 0;
	width: 100vw;
	height: 150px;
	padding: 10px;
	background-color: $color-1;
}

h1 {
	color: $color-3;
	font-weight: normal;
	font-size: 65px;
}

nav {
	gap: 150px;
}

.cool-button {
	border: 0;
	padding: 10px;
	font-size: 20px;
	background-color: $color-1;
	transition: 1s;
	color: $color-3;
}

.cool-button:hover {
	background-color: $color-4;
}

.search-bar {
	border: 1px solid $color-2;
	font-size: 21px;
}

.content {
	padding: 30px 100px;
}

.content > a {
	text-decoration: none;
	color: $color-2;
	font-size: 35px;
}

.fa {
	font-size: 25px;
}

.fa:hover {
	cursor: pointer;
}

.checked {
	color: orange;
}

article {
	gap: 90px;
}

div > h1,
p {
	color: $color-2;
}

div > h1 {
	font-size: 40px;
	font-weight: 350;
}

p {
	font-size: 21px;
}

.description {
	width: 50ch;
	text-align: justify;
}

.underline {
	border-bottom: solid 1px $color-2;
}
